# CLEANING DATA

The data set contains some empty cells ("Date" in row 22, and "Calories" in row 18 and 28).

The data set contains the wrong format ("Date" in row 26).

The data set contains wrong data ("Duration" in row 7).

The data set contains duplicates (row 11 and 12).

In [28]:
import pandas as pd

# Load the dataset

### Create from CSV

In [29]:
df = pd.read_csv('fixed-data.csv')

# Read

### Show Top 5 and Bottom 5 Rows

In [30]:
df.head(10)

   Unnamed: 0  Duration         Date  Pulse  Maxpulse  Calories
0           0        60  2020/12/01'    110       130     409.1
1           1        60  2020/12/02'    117       145     479.0
2           2        60  2020/12/03'    103       135     340.0
3           3        45  2020/12/04'    109       175     282.4
4           4        45  2020/12/05'    117       148     406.0
5           5        60  2020/12/06'    102       127     300.0
6           6        60  2020/12/07'    110       136     374.0
7           7       450  2020/12/08'    104       134     253.3
8           8        30  2020/12/09'    109       133     195.1
9           9        60  2020/12/10'     98       124     269.0

### Summary Statistics

In [31]:
df.describe()

       Unnamed: 0    Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   32.000000   30.000000
mean    15.500000   66.750000  103.500000  128.500000  304.680000
std      9.380832   70.894743    7.832933   12.998759   66.003779
min      0.000000    6.000000   90.000000  101.000000  195.100000
25%      7.750000   56.250000  100.000000  120.000000  250.700000
50%     15.500000   60.000000  102.500000  127.500000  291.200000
75%     23.250000   60.000000  106.500000  132.250000  343.975000
max     31.000000  450.000000  130.000000  175.000000  479.000000

### Show Columns and Data Type

In [32]:
df.columns

Index(['Unnamed: 0', 'Duration', 'Date', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

### Print entire DataFrame

In [33]:
df

    Unnamed: 0  Duration         Date  Pulse  Maxpulse  Calories
0            0        60  2020/12/01'    110       130     409.1
1            1        60  2020/12/02'    117       145     479.0
2            2        60  2020/12/03'    103       135     340.0
3            3        45  2020/12/04'    109       175     282.4
4            4        45  2020/12/05'    117       148     406.0
5            5        60  2020/12/06'    102       127     300.0
6            6        60  2020/12/07'    110       136     374.0
7            7       450  2020/12/08'    104       134     253.3
8            8        30  2020/12/09'    109       133     195.1
9            9        60  2020/12/10'     98       124     269.0
10          10        60  2020/12/11'    103       147     329.3
11          11        60  2020/12/12'    100       120     250.7
12          12        60  2020/12/12'    100       120     250.7
13          13        60  2020/12/13'    106       128     345.3
14          14        60  2020/12/14'    104       132     379.3
15          15        60  2020/12/15'     98       123     275.0
16          16        60  2020/12/16'     98       120     215.2
17          17        60  2020/12/17'    100       120     300.0
18          18        45  2020/12/18'     90       112       NaN
19          19        60  2020/12/19'    103       123     323.0
20          20        45  2020/12/20'     97       125     243.0
21          21        60  2020/12/21'    108       131     364.2
22          22        45          NaN    100       119     282.0
23          23        60  2020/12/23'    130       101     300.0
24          24        45  2020/12/24'    105       132     246.0
25          25        60  2020/12/25'    102       126     334.5
26          26         6   2020/12/26    100       120     250.0
27          27        60  2020/12/27'     92       118     241.0
28          28        60  2020/12/28'    103       132       NaN
29          29        60  2020/12/29'    100       132     280.0
30          30        60  2020/12/30'    102       129     380.3
31          31        60  2020/12/31'     92       115     243.0

# 1. Cleaning Empty Cells

### 1.1 (A) Return a new DataFrame with no empty cells:

In [6]:
new_df = df.dropna()
new_df.to_string()

"   Duration,Date,Pulse,Maxpulse,Calories\n0          60,'2020/12/01',110,130,409.1\n1          60,'2020/12/02',117,145,479.0\n2          60,'2020/12/03',103,135,340.0\n3          45,'2020/12/04',109,175,282.4\n4          45,'2020/12/05',117,148,406.0\n5          60,'2020/12/06',102,127,300.0\n6          60,'2020/12/07',110,136,374.0\n7         450,'2020/12/08',104,134,253.3\n8          30,'2020/12/09',109,133,195.1\n9           60,'2020/12/10',98,124,269.0\n10         60,'2020/12/11',103,147,329.3\n11         60,'2020/12/12',100,120,250.7\n12         60,'2020/12/12',100,120,250.7\n13         60,'2020/12/13',106,128,345.3\n14         60,'2020/12/14',104,132,379.3\n15          60,'2020/12/15',98,123,275.0\n16          60,'2020/12/16',98,120,215.2\n17         60,'2020/12/17',100,120,300.0\n18               45,'2020/12/18',90,112,\n19         60,'2020/12/19',103,123,323.0\n20          45,'2020/12/20',97,125,243.0\n21         60,'2020/12/21',108,131,364.2\n22                     45,,100,119,282.0\n23         60,'2020/12/23',130,101,300.0\n24         45,'2020/12/24',105,132,246.0\n25         60,'2020/12/25',102,126,334.5\n26          6,020,201,226,100,120,000.00\n27          60,'2020/12/27',92,118,241.0\n28              60,'2020/12/28',103,132,\n29         60,'2020/12/29',100,132,280.0\n30         60,'2020/12/30',102,129,380.3\n31          60,'2020/12/31',92,115,243.0"

### 1.2 Print the new dataset

In [7]:
new_df

   Duration,Date,Pulse,Maxpulse,Calories
0          60,'2020/12/01',110,130,409.1
1          60,'2020/12/02',117,145,479.0
2          60,'2020/12/03',103,135,340.0
3          45,'2020/12/04',109,175,282.4
4          45,'2020/12/05',117,148,406.0
5          60,'2020/12/06',102,127,300.0
6          60,'2020/12/07',110,136,374.0
7         450,'2020/12/08',104,134,253.3
8          30,'2020/12/09',109,133,195.1
9           60,'2020/12/10',98,124,269.0
10         60,'2020/12/11',103,147,329.3
11         60,'2020/12/12',100,120,250.7
12         60,'2020/12/12',100,120,250.7
13         60,'2020/12/13',106,128,345.3
14         60,'2020/12/14',104,132,379.3
15          60,'2020/12/15',98,123,275.0
16          60,'2020/12/16',98,120,215.2
17         60,'2020/12/17',100,120,300.0
18               45,'2020/12/18',90,112,
19         60,'2020/12/19',103,123,323.0
20          45,'2020/12/20',97,125,243.0
21         60,'2020/12/21',108,131,364.2
22                     45,,100,119,282.0
23         60,'2020/12/23',130,101,300.0
24         45,'2020/12/24',105,132,246.0
25         60,'2020/12/25',102,126,334.5
26          6,020,201,226,100,120,000.00
27          60,'2020/12/27',92,118,241.0
28              60,'2020/12/28',103,132,
29         60,'2020/12/29',100,132,280.0
30         60,'2020/12/30',102,129,380.3
31          60,'2020/12/31',92,115,243.0

### 1.3 (B) Change the original DataFrame using the `inplace = True` argument to remove all rows with NULL values

In [15]:
df = pd.read_csv('data.csv')

df.dropna(inplace = True)
df.to_string()

"   Duration,Date,Pulse,Maxpulse,Calories\n0          60,'2020/12/01',110,130,409.1\n1          60,'2020/12/02',117,145,479.0\n2          60,'2020/12/03',103,135,340.0\n3          45,'2020/12/04',109,175,282.4\n4          45,'2020/12/05',117,148,406.0\n5          60,'2020/12/06',102,127,300.0\n6          60,'2020/12/07',110,136,374.0\n7         450,'2020/12/08',104,134,253.3\n8          30,'2020/12/09',109,133,195.1\n9           60,'2020/12/10',98,124,269.0\n10         60,'2020/12/11',103,147,329.3\n11         60,'2020/12/12',100,120,250.7\n12         60,'2020/12/12',100,120,250.7\n13         60,'2020/12/13',106,128,345.3\n14         60,'2020/12/14',104,132,379.3\n15          60,'2020/12/15',98,123,275.0\n16          60,'2020/12/16',98,120,215.2\n17         60,'2020/12/17',100,120,300.0\n18               45,'2020/12/18',90,112,\n19         60,'2020/12/19',103,123,323.0\n20          45,'2020/12/20',97,125,243.0\n21         60,'2020/12/21',108,131,364.2\n22                     45,,100,119,282.0\n23         60,'2020/12/23',130,101,300.0\n24         45,'2020/12/24',105,132,246.0\n25         60,'2020/12/25',102,126,334.5\n26          6,020,201,226,100,120,000.00\n27          60,'2020/12/27',92,118,241.0\n28              60,'2020/12/28',103,132,\n29         60,'2020/12/29',100,132,280.0\n30         60,'2020/12/30',102,129,380.3\n31          60,'2020/12/31',92,115,243.0"

### 1.4 Print the new dataset

In [17]:
df

   Duration,Date,Pulse,Maxpulse,Calories
0          60,'2020/12/01',110,130,409.1
1          60,'2020/12/02',117,145,479.0
2          60,'2020/12/03',103,135,340.0
3          45,'2020/12/04',109,175,282.4
4          45,'2020/12/05',117,148,406.0
5          60,'2020/12/06',102,127,300.0
6          60,'2020/12/07',110,136,374.0
7         450,'2020/12/08',104,134,253.3
8          30,'2020/12/09',109,133,195.1
9           60,'2020/12/10',98,124,269.0
10         60,'2020/12/11',103,147,329.3
11         60,'2020/12/12',100,120,250.7
12         60,'2020/12/12',100,120,250.7
13         60,'2020/12/13',106,128,345.3
14         60,'2020/12/14',104,132,379.3
15          60,'2020/12/15',98,123,275.0
16          60,'2020/12/16',98,120,215.2
17         60,'2020/12/17',100,120,300.0
18               45,'2020/12/18',90,112,
19         60,'2020/12/19',103,123,323.0
20          45,'2020/12/20',97,125,243.0
21         60,'2020/12/21',108,131,364.2
22                     45,,100,119,282.0
23         60,'2020/12/23',130,101,300.0
24         45,'2020/12/24',105,132,246.0
25         60,'2020/12/25',102,126,334.5
26          6,020,201,226,100,120,000.00
27          60,'2020/12/27',92,118,241.0
28              60,'2020/12/28',103,132,
29         60,'2020/12/29',100,132,280.0
30         60,'2020/12/30',102,129,380.3
31          60,'2020/12/31',92,115,243.0

### 1.5 (C) Replace Empty Values ⚠ Not Working

In [18]:
# Replace NULL values with the number 130:

df = pd.read_csv('data.csv')
df.fillna(130, inplace = True)

### 1.6 Print dataset

In [19]:
df

   Duration,Date,Pulse,Maxpulse,Calories
0          60,'2020/12/01',110,130,409.1
1          60,'2020/12/02',117,145,479.0
2          60,'2020/12/03',103,135,340.0
3          45,'2020/12/04',109,175,282.4
4          45,'2020/12/05',117,148,406.0
5          60,'2020/12/06',102,127,300.0
6          60,'2020/12/07',110,136,374.0
7         450,'2020/12/08',104,134,253.3
8          30,'2020/12/09',109,133,195.1
9           60,'2020/12/10',98,124,269.0
10         60,'2020/12/11',103,147,329.3
11         60,'2020/12/12',100,120,250.7
12         60,'2020/12/12',100,120,250.7
13         60,'2020/12/13',106,128,345.3
14         60,'2020/12/14',104,132,379.3
15          60,'2020/12/15',98,123,275.0
16          60,'2020/12/16',98,120,215.2
17         60,'2020/12/17',100,120,300.0
18               45,'2020/12/18',90,112,
19         60,'2020/12/19',103,123,323.0
20          45,'2020/12/20',97,125,243.0
21         60,'2020/12/21',108,131,364.2
22                     45,,100,119,282.0
23         60,'2020/12/23',130,101,300.0
24         45,'2020/12/24',105,132,246.0
25         60,'2020/12/25',102,126,334.5
26          6,020,201,226,100,120,000.00
27          60,'2020/12/27',92,118,241.0
28              60,'2020/12/28',103,132,
29         60,'2020/12/29',100,132,280.0
30         60,'2020/12/30',102,129,380.3
31          60,'2020/12/31',92,115,243.0

What happened to the old data set? Explain your answer.

### 1.7 (D) Replace Only for Specified Columns ⚠ KeyError

In [20]:
# Replace NULL values in the "Calories" columns with the number 130:

df = pd.read_csv('data.csv')
df["Calories"].fillna(130, inplace = True)

KeyError: 'Calories'

### 1.8 (E) Replace Using Mean, Median, or Mode ⚠ KeyError

In [21]:
# Calculate the MEAN, and replace any empty values with it:

df = pd.read_csv('data.csv')
x = df["Calories"].mean()
df["Calories"].fillna(x, inplace = True)

KeyError: 'Calories'

In [22]:
#Calculate the MEDIAN, and replace any empty values with it:

df = pd.read_csv('data.csv')
x = df["Calories"].median()
df["Calories"].fillna(x, inplace = True)

KeyError: 'Calories'

In [23]:
#Calculate the MODE, and replace any empty values with it:

df = pd.read_csv('data.csv')
x = df["Calories"].mode()[0]
df["Calories"].fillna(x, inplace = True)

KeyError: 'Calories'

# 2. Data of Wrong Format (Skip)

### 2.1 Try to convert all cells in the 'Date' column into dates.
#### Pandas has a to_datetime() method for this:

In [26]:
# Convert to date:

df = pd.read_csv('data.csv')
df['Date'] = pd.to_datetime(df['Date'])
print(df.to_string())

KeyError: 'Date'

In [27]:
df

   Duration,Date,Pulse,Maxpulse,Calories
0          60,'2020/12/01',110,130,409.1
1          60,'2020/12/02',117,145,479.0
2          60,'2020/12/03',103,135,340.0
3          45,'2020/12/04',109,175,282.4
4          45,'2020/12/05',117,148,406.0
5          60,'2020/12/06',102,127,300.0
6          60,'2020/12/07',110,136,374.0
7         450,'2020/12/08',104,134,253.3
8          30,'2020/12/09',109,133,195.1
9           60,'2020/12/10',98,124,269.0
10         60,'2020/12/11',103,147,329.3
11         60,'2020/12/12',100,120,250.7
12         60,'2020/12/12',100,120,250.7
13         60,'2020/12/13',106,128,345.3
14         60,'2020/12/14',104,132,379.3
15          60,'2020/12/15',98,123,275.0
16          60,'2020/12/16',98,120,215.2
17         60,'2020/12/17',100,120,300.0
18               45,'2020/12/18',90,112,
19         60,'2020/12/19',103,123,323.0
20          45,'2020/12/20',97,125,243.0
21         60,'2020/12/21',108,131,364.2
22                     45,,100,119,282.0
23         60,'2020/12/23',130,101,300.0
24         45,'2020/12/24',105,132,246.0
25         60,'2020/12/25',102,126,334.5
26          6,020,201,226,100,120,000.00
27          60,'2020/12/27',92,118,241.0
28              60,'2020/12/28',103,132,
29         60,'2020/12/29',100,132,280.0
30         60,'2020/12/30',102,129,380.3
31          60,'2020/12/31',92,115,243.0

Bad pipe message: %s [b'lj\xa69\x92\xc6\xa0\x04\x01\xaf\x19r\xd2\xc8\xceX\xcf\x97 \x8a)\x14\x06\x9f\xc6om\xe1Q\xd2\x16\xb9f\xa5\xaa\xb1mk>\xa9\xb7\x91\xaa\x80K\xd5\xf4\xad"<\x06\x00\x08\x13\x02\x13\x03\x13\x01\x00\xff\x01\x00\x00\x8f\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x0c\x00\n\x00\x1d\x00\x17\x00', b'\x19\x00\x18\x00#\x00\x00\x00\x16\x00\x00\x00\x17\x00\x00\x00\r\x00\x1e\x00\x1c\x04\x03\x05\x03\x06\x03\x08\x07']
Bad pipe message: %s [b'\x08\t\x08\n\x08\x0b\x08']
Bad pipe message: %s [b'\x05\x08\x06']
Bad pipe message: %s [b"\xedj\x8e>m\xfa\xfe*2\xc6\xce8/\x8aY\x89\x93C\x00\x00|\xc0,\xc00\x00\xa3\x00\x9f\xcc\xa9\xcc\xa8\xcc\xaa\xc0\xaf\xc0\xad\xc0\xa3\xc0\x9f\xc0]\xc0a\xc0W\xc0S\xc0+\xc0/\x00\xa2\x00\x9e\xc0\xae\xc0\xac\xc0\xa2\xc0\x9e\xc0\\\xc0`\xc0V\xc0R\xc0$\xc0(\x00k\x00j\xc0#\xc0'\x00g\x00@\xc0\n\xc0\x14\x009\x008\xc0\t\xc0\x13\x003\x002\x00\x9d\xc0\xa1\xc0\x9d\xc0Q\x00\x9c\xc0\xa0\xc0\x9c\xc0P\x00=\x00<\x005\x00/\x00\x9a\x00\x99\xc0\x07\xc0\x11\x00\x96\x00\x05\x00\xff\x01\x00\x00j\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x0c\x00\n\x00\x1d\x00\x17\x00\x1e\x00\x19\x00\x18\x00#\x00\x00\x00\x16\x00\x00\x00\x17\x00\x00\x00\r\x000\x00.\x04\x03\x05\x03\x06\x03\x08\x07\x08\x08\x08\t"]
Bad pipe message: %s [b'\x05\x01\x06', b'']
Bad pipe message: %s [b'\x08\x0b\x08\x04\x08\x05\x08']
Bad pipe message: %s [b'\x03\x02\x03\x04\x00-\x00\x02\x01\x01\x003\x00&\x00$\x00\x1d\x00 \x13\xd2\xa0\xe8~\xb0\x9c\xd3\xd7\xf7\xc2\x88\xb6\xba\xc5\xf5\xc7\xc39\x90\x8fs']
Bad pipe message: %s [b'\x01\x05\x01\x06\x01']
Bad pipe message: %s [b'\xc1\xce\xaa\xb1\xbba\xaf\x98\x9e\x93\xcd\x04h~Y:.\xa0\x00\x00\xa6\xc0,\xc00\x00\xa3\x00\x9f\xcc\xa9\xcc\xa8\xcc\xaa\xc0\xaf\xc0\xad\xc0\xa3\xc0\x9f\xc0]\xc0a']
Bad pipe message: %s [b'\x02\x03', b'\x02\x01', b'\x02\x02']
Bad pipe message: %s [b'\x05\x02\x06']
Bad pipe message: %s [b'\xf4\x91\xbb7\x10X!\xd5\xaa\xbc:\x9d\xad\x15\xd7[\x0c\xdd\x00\x00\xa2\xc0\x14\xc0\n\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00:\x00\x89\xc0\x0f\xc0\x05\x005\x00\x84\xc0\x13\xc0\t\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x004\x00\x9b\x00F\xc0\x0e\xc0\x04\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00\x18\xc0\x0c']
Bad pipe message: %s [b'$\xda\xb3l\x1d\xd7\xd2\xcf\xb1\xf8\xa3$n\xd4\x16\xd9\xfc1\x00\x00\xa2\xc0\x14', b'\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00:\x00\x89\xc0\x0f\xc0\x05\x005\x00\x84\xc0\x13\xc0\t\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x004\x00\x9b\x00F\xc0\x0e\xc0\x04\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00\x18\xc0\x0c\xc0\x02\x00\x05\x00\x04\xc0\x12\xc0\x08\x00\x16\x00\x13\x00\x10\x00\r\xc0\x17\x00\x1b\xc0\r\xc0\x03\x00\n\x00\x15\x00\x12\x00\x0f\x00\x0c\x00\x1a\x00\t\x00\x14\x00\x11\x00\x19\x00\x08\x00\x06\x00\x17\x00\x03\xc0\x10\xc0\x06\xc0\x15\xc0\x0b\xc0\x01\x00\x02\x00\x01\x00\xff\x02\x01\x00\x00C\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n']
Bad pipe message: %s [b'\xed\x87\x8c\xb6F]\xaenm\x04M\x11\xf0\xc3A\xa7i\x19\x00\x00\xa2\xc0\x14\xc0\n\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00:\x00\x89\xc0\x0f\xc0\x05\x005\x00\x84\xc0\x13\xc0', b'3\x002\x001\x000\x00']
Bad pipe message: %s [b"\x12\x84\xa6\xe7V\xc4\xe9\xee\xf2\x17\xcb\x99\xcf\xa4GL\xf0F\x00\x00\x86\xc00\xc0,\xc0(\xc0$\xc0\x14\xc0\n\x00\xa5\x00\xa3\x00\xa1\x00\x9f\x00k\x00j\x00i\x00h\x009\x008\x007\x006\xc02\xc0.\xc0*\xc0&\xc0\x0f\xc0\x05\x00\x9d\x00=\x005\xc0/\xc0+\xc0'\xc0#\xc0\x13\xc0\t\x00\xa4\x00\xa2\x00\xa0\x00\x9e\x00g\x00@\x00?\x00>\x003\x002\x001\x000\xc01\xc0-\xc0)\xc0%\xc0\x0e\xc0\x04\x00\x9c\x00<\x00"]
Bad pipe message: %s [b'\x9a\x00\x99\x00\x98\x00\x97\x00\x96\x00\x07\xc0\x11\xc0\x07\xc0\x0c\xc0\x02\x00\x05\x00\x04\x00\xff\x02\x01\x00\x00g\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0']
Bad pipe message: %s [b'\x00\x0b\x00\x04\x03\x00\x01\x02\x00\n\x00\x1c\x00\x1a\x00\x17\x00\x19\x00\x1c\x00\x1b\x00\x18\x00\x1a\x00\x16\x00\x0e\x00\r\x00\x0b\x00\x0c\x00\t\x00\n\x00#\x00\x00\x00', b' \x00\x1e\x06\x01\x06\x02\x06\x03\x05\x01\x05']
Bad pipe message: %s [b'\x03', b'\x04\x02\x04', b'\x01\x03', b'\x03', b'\x02', b'\x03']
Bad pipe message: %s [b"\x89\xf3\xe4\x06\x8f\r`\xdb\xed\xd5\x07<*o\xdb\xa3\xe2\x81\x00\x00\xf4\xc00\xc0,\xc0(\xc0$\xc0\x14\xc0\n\x00\xa5\x00\xa3\x00\xa1\x00\x9f\x00k\x00j\x00i\x00h\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00\xa7\x00m\x00:\x00\x89\xc02\xc0.\xc0*\xc0&\xc0\x0f\xc0\x05\x00\x9d\x00=\x005\x00\x84\xc0/\xc0+\xc0'\xc0#\xc0\x13\xc0\t\x00\xa4\x00\xa2\x00\xa0\x00\x9e\x00g\x00@\x00?\x00>\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x00\xa6\x00l\x004\x00\x9b\x00F\xc01\xc0-\xc0)\xc0%\xc0\x0e\xc0\x04\x00\x9c\x00<\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00", b'\x0c\xc0\x02\x00\x05\x00\x04\xc0\x12\xc0\x08\x00\x16\x00\x13\x00\x10\x00\r\xc0\x17\x00\x1b']

In [ ]:
# Remove rows with a NULL value in the "Date" column:
df.dropna(subset=['Date'], inplace = True)