# Lab Exercise 1: Using Pandas üêº

1. Import the module pandas

In [1]:
# Importing the pandas library and giving it the alias pd.
import pandas as pd

2. Declare the data set. Either user-defined or from reading csv file.

In [2]:
# For two-dimensional data
my_dataset = {
    'cars':["Toyota", "Mitsubishi", "Honda"],
    'ratings': [1, 3, 5,] 
}

3. Create the data frame

In [3]:
# For two-dimensional data
my_2d_data = pd.DataFrame(my_dataset)

print(my_2d_data)

         cars  ratings
0      Toyota        1
1  Mitsubishi        3
2       Honda        5

In [4]:
# Creating label index for the data. 
# This is changing the default index to a user-defined index.
my_2d_data = pd.DataFrame(my_dataset, index = ["a", "k", "i"])

In [5]:
# For reading csv file 
# my_var = pd.read_csv('data.csv')

4. Print the dataset

In [6]:
# For printing the first and last 5 records of the data
print(my_2d_data)

         cars  ratings
a      Toyota        1
k  Mitsubishi        3
i       Honda        5

In [7]:
# For printing all the records of the data in a string format
print(my_2d_data.to_string())

         cars  ratings
a      Toyota        1
k  Mitsubishi        3
i       Honda        5

In [8]:
# For printing the first value of the data
print(my_2d_data.head(1))

     cars  ratings
a  Toyota        1

In [9]:
# For printing using label index 
print(my_2d_data.loc["a"])

cars       Toyota
ratings         1
Name: a, dtype: object

In [10]:
# For printing first row using loc attribute 
print(my_2d_data.loc["a"])

cars       Toyota
ratings         1
Name: a, dtype: object

5. Verify and print the panda version

In [11]:
print(pd.__version__)

1.4.4

6. Verify, print, and modify the maximum returned row

In [12]:
print(pd.options.display.max_rows)

60

In [13]:
pd.options.display.max_rows = 100

In [14]:
print(pd.options.display.max_rows)

100

7. Analyzing DataFrame

In [15]:
# For displaying the top 5 rows of the data
print(my_2d_data.head())

         cars  ratings
a      Toyota        1
k  Mitsubishi        3
i       Honda        5

In [16]:
# For displaying the top specified number of rows of the data
print(my_2d_data.head(10))

         cars  ratings
a      Toyota        1
k  Mitsubishi        3
i       Honda        5

In [17]:
# For displaying the last 5 rows of the data
print(my_2d_data.tail())

         cars  ratings
a      Toyota        1
k  Mitsubishi        3
i       Honda        5

In [18]:
# For displaying the last specified number of rows of the data
print(my_2d_data.tail(10))

         cars  ratings
a      Toyota        1
k  Mitsubishi        3
i       Honda        5

In [19]:
# For printing the info about the dataset 
print(my_2d_data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, a to i
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cars     3 non-null      object
 1   ratings  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes
None