# CLEANING DATA

In [2]:
import pandas as pd

Load the dataset

In [3]:
df = pd.read_csv('data.csv')

Summary Statistics

In [4]:
df.describe()

       Duration,Date,Pulse,Maxpulse,Calories
count                                     32
unique                                    31
top            60,'2020/12/12',100,120,250.7
freq                                       2

Print the entire dataset

In [5]:
df

   Duration,Date,Pulse,Maxpulse,Calories
0          60,'2020/12/01',110,130,409.1
1          60,'2020/12/02',117,145,479.0
2          60,'2020/12/03',103,135,340.0
3          45,'2020/12/04',109,175,282.4
4          45,'2020/12/05',117,148,406.0
5          60,'2020/12/06',102,127,300.0
6          60,'2020/12/07',110,136,374.0
7         450,'2020/12/08',104,134,253.3
8          30,'2020/12/09',109,133,195.1
9           60,'2020/12/10',98,124,269.0
10         60,'2020/12/11',103,147,329.3
11         60,'2020/12/12',100,120,250.7
12         60,'2020/12/12',100,120,250.7
13         60,'2020/12/13',106,128,345.3
14         60,'2020/12/14',104,132,379.3
15          60,'2020/12/15',98,123,275.0
16          60,'2020/12/16',98,120,215.2
17         60,'2020/12/17',100,120,300.0
18               45,'2020/12/18',90,112,
19         60,'2020/12/19',103,123,323.0
20          45,'2020/12/20',97,125,243.0
21         60,'2020/12/21',108,131,364.2
22                     45,,100,119,282.0
23         60,'2020/12/23',130,101,300.0
24         45,'2020/12/24',105,132,246.0
25         60,'2020/12/25',102,126,334.5
26          6,020,201,226,100,120,000.00
27          60,'2020/12/27',92,118,241.0
28              60,'2020/12/28',103,132,
29         60,'2020/12/29',100,132,280.0
30         60,'2020/12/30',102,129,380.3
31          60,'2020/12/31',92,115,243.0

## 1. Cleaning Empty Cells
Dropping all the rows that have NaN (Not available) values <br>
A. To return a new Data Frame with no empty cells

In [6]:
new_df = df.dropna()
print(new_df.to_string())

   Duration,Date,Pulse,Maxpulse,Calories
0          60,'2020/12/01',110,130,409.1
1          60,'2020/12/02',117,145,479.0
2          60,'2020/12/03',103,135,340.0
3          45,'2020/12/04',109,175,282.4
4          45,'2020/12/05',117,148,406.0
5          60,'2020/12/06',102,127,300.0
6          60,'2020/12/07',110,136,374.0
7         450,'2020/12/08',104,134,253.3
8          30,'2020/12/09',109,133,195.1
9           60,'2020/12/10',98,124,269.0
10         60,'2020/12/11',103,147,329.3
11         60,'2020/12/12',100,120,250.7
12         60,'2020/12/12',100,120,250.7
13         60,'2020/12/13',106,128,345.3
14         60,'2020/12/14',104,132,379.3
15          60,'2020/12/15',98,123,275.0
16          60,'2020/12/16',98,120,215.2
17         60,'2020/12/17',100,120,300.0
18               45,'2020/12/18',90,112,
19         60,'2020/12/19',103,123,323.0
20          45,'2020/12/20',97,125,243.0
21         60,'2020/12/21',108,131,364.2
22                     45,,100,119,282.0
23         60,'2020/12/23',130,101,300.0
24         45,'2020/12/24',105,132,246.0
25         60,'2020/12/25',102,126,334.5
26          6,020,201,226,100,120,000.00
27          60,'2020/12/27',92,118,241.0
28              60,'2020/12/28',103,132,
29         60,'2020/12/29',100,132,280.0
30         60,'2020/12/30',102,129,380.3
31          60,'2020/12/31',92,115,243.0

Question: What happened to the old data set? Explain your answer and take a screenshot of the new data set.

The old data set is still there with its original features and data points.

B. To change the original DataFrame, use the inplace = True argument to remove all rows with NULL values.

In [7]:
df.dropna(inplace=True)
print(df.to_string())

   Duration,Date,Pulse,Maxpulse,Calories
0          60,'2020/12/01',110,130,409.1
1          60,'2020/12/02',117,145,479.0
2          60,'2020/12/03',103,135,340.0
3          45,'2020/12/04',109,175,282.4
4          45,'2020/12/05',117,148,406.0
5          60,'2020/12/06',102,127,300.0
6          60,'2020/12/07',110,136,374.0
7         450,'2020/12/08',104,134,253.3
8          30,'2020/12/09',109,133,195.1
9           60,'2020/12/10',98,124,269.0
10         60,'2020/12/11',103,147,329.3
11         60,'2020/12/12',100,120,250.7
12         60,'2020/12/12',100,120,250.7
13         60,'2020/12/13',106,128,345.3
14         60,'2020/12/14',104,132,379.3
15          60,'2020/12/15',98,123,275.0
16          60,'2020/12/16',98,120,215.2
17         60,'2020/12/17',100,120,300.0
18               45,'2020/12/18',90,112,
19         60,'2020/12/19',103,123,323.0
20          45,'2020/12/20',97,125,243.0
21         60,'2020/12/21',108,131,364.2
22                     45,,100,119,282.0
23         60,'2020/12/23',130,101,300.0
24         45,'2020/12/24',105,132,246.0
25         60,'2020/12/25',102,126,334.5
26          6,020,201,226,100,120,000.00
27          60,'2020/12/27',92,118,241.0
28              60,'2020/12/28',103,132,
29         60,'2020/12/29',100,132,280.0
30         60,'2020/12/30',102,129,380.3
31          60,'2020/12/31',92,115,243.0

In [ ]:
# Replace NULL values in the "Calories" columns with the number 130
df['Calories'].fillna(130, inplace=True)